<br><br>

<% @header = "Editing " + @team.name %>

<%= render 'form', team: @team %>

<div class="container">
  <div class="col-12 text-center">
    <%= link_to 'Deactivate', team_deactivate_path(@team, @user), class: "btn btn-danger" %>
  </div>
</div>
<br>
