<p class="text-success text-center" id="notice"><%= notice %></p>

<h1 class="text-center text-muted">There are no teams yet! Add a team to continue</h1>

<%= link_to 'Add Team', new_team_path, :class => "btn btn-lg btn-primary" %>
