<br><br>

<% @header = "Edit " + @user.first_name + " " + @user.last_name %>

<%= render 'form', user: @user %>

<div class="container">
  <div class="col-12 text-center">
    <%= link_to 'Deactivate', team_user_deactivate_path(@team, @user), class: "btn btn-danger" %>
  </div>
</div>
<br>
