<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/../../assets/stylesheets/styles.css">
</head>
<body>
<h1>Welcome to Instanet!</h1>

<ul>
  <li class="menu">
    Home
  </li>

  <li class="menu">
    Teams
  </li>

  <li class="menu">
    About
  </li>
</ul>

<br>

<p>
Intro blurb: Lorem ipsum dolor amet truffaut before they sold out pabst trust fund butcher master cleanse. Man bun trust fund raclette, tacos blue bottle pug affogato swag tote bag ugh poutine. Salvia glossier umami craft beer bicycle rights meggings cronut actually taiyaki listicle. Chartreuse dreamcatcher wayfarers, 90's mixtape copper mug enamel pin lumbersexual cloud bread ramps schlitz synth put a bird on it. 3 wolf moon sriracha hammock bespoke direct trade freegan fanny pack poke man bun edison bulb austin kombucha.
</p>

<img src="https://placeimg.com/640/480/any">

</body>
</html>
