h1 {
  text-align: center;
}

li {
    float: left;
}

.menu {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

p {

padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
